body {
   font-family: sans-serif;
    background-image: linear-gradient(#7E9ABF,#011140 )
}

header {   
    background-color:#8B4513;
    border-bottom: 5px solid white ;
}




h1 {
    color:#011140;
    font-size: 50px
    text-align: center;
 
}

h2{
    color:white;
    font-size: 35px;
    text-emphasis: center;
}


p{
    color:rgb(0, 0, 0);
    font-size: 30px;
    text-align: justify;
} 

.logo  { 
    width: 400px;
    height: 400px; 
    margin: 2px;/*insere um espaçamento extremo ao elemento,ao redor da borda*/
    padding: 2px;/*define uma distância interna entre um elemento e sua borda*/
    border: 0.5rem solid#8C5C20 ;
    border-radius: 20px;
}

.fotos {     
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: 3px;
    border: 0.5rem solid#8C5C20 ;
    border-radius: 24px;
}
